.UserOutput {
  & &__card {
    height: 100%

    &_avatar {
      display: flex
      justify-content: center
      align-items: center
    }
  }

  & &__avatar {
    margin: 0 auto
    width: 200px
    height: 200px
    font-size: 72px
    background-color: #ff5722

    @media $mediaLg {
      width: 150px
      height: 150px
    }
  }
}
