.PostOutput {
  & {
  }

  & &__title {
    initialLetter()
  }

  & &__body {
    margin-bottom: 14px
    initialLetter()
  }

  &__preview {
    imgResponsive()
    margin-bottom: 40px
    border-radius: 5px
  }
}
