/*--------------------------------------------------------------
# Defaults
--------------------------------------------------------------*/
html {
  font-family: 'Roboto Medium', sans-serif;
}

a,
a:active,
a:visited,
a:hover {
  text-decoration: none
  color: currentColor
}