.Post {
  & {
    display: flex
    flex-direction: column
    justify-content: space-between
    height: 100%
  }

  & &__media {
    height: 360px
    bg()
    background-color: #bababa
  }
  
  &__title {
    text-transform: capitalize
  }
}
